<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>こんにちは、<%= @name %>さん。</p>
    <p>お問い合わせが完了したのでご連絡いたしました。</br>メッセージをご確認ください。</p>
    <p><%= @massage %></p>
    
  </body>
</html>