<h1>ユーザー詳細ページ</h1>

<h3><%= @user.name %></h3>
<p><%= profile_img(@user) %></p>

<% if current_user && current_user.id == @user.id %>
  <%= link_to 'ユーザー編集', edit_user_path(current_user.id), class:'btn btn-primary' %>
<% end %>