<p>こんにちは <%= @resource.email %>！</p>

<p>以下のリンクをクリックすることでパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに見覚えのない場合は無視してください。.</p>
<p>このリンクをクリックするまであなたのパスワード変更されません。</p>
